* {
  margin: 0;
  padding: 0;
}

/*	Navbar	*/
section.navbar,
footer.footer {
  width: 100%;
}

div.navbar {
  width: 100%;
  background-color: var(--softBlackColor);
  text-align: center;
  padding: 18px 0px;
}

h1.navbar {
  color: var(--greenColor);
  font-family: var(--raleway);
  font-weight: 600;
  font-size: 48px;
}
/*	End of Navbar	*/

/*	Main Section  */
section.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*	End of Main Section	*/

/* Footer */
.footer {
  background-color: var(--footerBGColor);
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--softBlackColor);
  text-align: center;
  font-family: var(--raleway);
  font-weight: 700px;
  font-size: 24px;
}
/* End of Footer */
